In [2]:
# !pip install sklearn
%load_ext autoreload
%autoreload 2

In [3]:
import sklearn
import numpy as np
from utils._utils import *
import pandas as pd

In [4]:
root = get_root()
data = get_data()
zoltar_truth = pd.read_csv(root/'data-truth'/'zoltar-truth.csv', parse_dates=['timezero'], infer_datetime_format=True)

In [5]:
zoltar_truth

         timezero unit                 target  value
0      2020-05-05   01   1 wk ahead cum death  485.0
1      2020-05-05   02   1 wk ahead cum death   10.0
2      2020-05-05   60   1 wk ahead cum death    0.0
3      2020-05-05   04   1 wk ahead cum death  679.0
4      2020-05-05   05   1 wk ahead cum death   98.0
...           ...  ...                    ...    ...
283815 2020-01-06   51  20 wk ahead inc death  156.0
283816 2020-01-06   53  20 wk ahead inc death   51.0
283817 2020-01-06   54  20 wk ahead inc death    8.0
283818 2020-01-06   55  20 wk ahead inc death   54.0
283819 2020-01-06   56  20 wk ahead inc death    5.0

[283820 rows x 4 columns]

In [6]:
forecasts = get_forecast_files()

In [7]:
def filter_model(df):
    # filter out all forecasts that are not `point` type
    # and remove `quantile` and `type` columns
    df = df[df['type'] == 'point'].drop(['quantile', 'type'], axis='columns')
    
#     df.set_index('forecast_date', inplace=True)
    return df
    pass

In [14]:
for f in forecasts:
    model_df = pd.read_csv(f, parse_dates=['forecast_date'], infer_datetime_format=True)
    x_f = filter_model(model_df)
#     display(x_f)
    model_df.loc[model_df['location'] == 'US'] = '-1'
    display(model_df[model_df['location'] == '-1']['location'])
    break

0       -1
1       -1
2       -1
3       -1
4       -1
        ..
9985    -1
9986    -1
9987    -1
9988    -1
9989    -1
Name: location, Length: 198, dtype: object